@{
    
}
<p>If you are interested in being tutored by me in the ways of ultimate frisbee, calculate the cost quickly and easily right here!</p>
<br /><br />
<label for="numHours">Enter the number of hours you would need from me per month: </label>
<input id="numHours" placeholder="Number of Hours"/>
<p id="error" style="color: red;"></p>
<br /><br />
<label for="hourlyRate">My Hourly Rate: $</label>
<input id="hourlyRate" value="16.35" readonly/>
<br /><br /><br />
<button type="button" id="buttonCalculator">Calculate Monthly Cost</button>
<br /><br /><br />
<label for="monthlyCost">Monthly Cost: </label>
<input id="monthlyCost" value = "$0.00" readonly />
