@{
    
}
<!--Website Heading (Introduces it)-->
<div class="text-center">
    <h1 class="display-4">Ultimate Frisbee: The Best Hobby</h1>
    <h5>Ultimate frisbee is all about the thrill! It is an amazing mix of team cohesion, adrenaline, and skill.
        It is becoming more popular each year and captivates fans everywhere.
    </h5>
</div>

<!--Images side by side-by-side. Note that the class I created is in the css file.-->
<div class="image-container">
    <img src="~/images/ultimate1.jpg"/>
    <img src="~/images/ultimate2.jpg"/>
</div>

<!--Paragraphs describing my hobby.-->
<p>Don't these pictures just say it all? There is nothing more exciting than seeing people make amazing catches on the field.
    I have enjoyed playing frisbee from an early age. Many people, if not most, enjoy frisbee in some form or another, whether
    it's frisbee golf, ultimate frisbee, or just throwing a frisbee around. There is room for everyone in a sport like this.
</p>

<p>My love for ultimate frisbee began when I spent the summer as an FSY Counselor. Every day for 2 months I would play
    with the youth and other counselors. I made insane throws, catches, and dives. We would even the teams by pitting 5 really good
    counselors against 40 youth! Ever since then, I've been convinced that frisbee is the best sport out there. 
</p>

<p>Whether you are competitive or not, there is simply something relazing about throwing a frisbee around. It is good exercise
    and is a fun activity to play with your friends. All you need it a field and a frisbee to make it happen. Even if you feel
    that you don't have good hand-eye coordination, that's ok! It doesn't matter how you throw or catch, just that you try. 
    So, give it a shot! I know you will have fun!
</p>